<!-- <div class="left">
  <input type="text" placeholder="name" #name>
  <input type="text" placeholder="url" #url>
  <button (click)="addTutorial(name.value,url.value)">Add a Tutorial</button>
</div> -->
<!-- 
<div class="main-menu grid-container">
  <div class="common-header">
<mat-toolbar>  
  <mat-toolbar-row>
    <div class="menu-box" fxLayout="row"	    
	     fxFlex>
       <div class="logo-container" 
fxFlex fxLayoutAlign="start"><button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button></div>
       <div class="right-menu" fxFlex fxLayoutAlign="end">
          <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>  
     </div>  
    </div>    
  </mat-toolbar-row>
</mat-toolbar>
  </div>
   <div class="common-menu"><mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    
    </mat-sidenav></div>
  <div class="common-body"><router-outlet></router-outlet></div>   
  <div class="common-footer">Footer</div>
</div> -->


<!-- <div class="grid-container">
  <div class="common-header">Header</div>
  <div class="common-menu">Menu</div>
  <div class="common-body">Main</div>   
  <div class="common-footer">Footer</div>
</div> -->

sdsdsd
<div class="example-container menu-box" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="example-toolbar main-menu">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-body">
      <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>